.standout{
    color: cornflowerblue;
}

p{
    color: hotpink;
}
h2.standout{
    color: crimson;
}

.image1:hover{
    border-radius: 50%;
}

.image2:hover{
    border-radius: 60px;
}

.image3:hover{
    opacity: 0.7;;
}

.image4:hover{
    filter: grayscale(70%);
}

.image5:hover{
    filter: blur(10px);
}

p:hover{
    background-color: black;
}